alembic==1.13.3
aniso8601==9.0.1
blinker==1.8.2
click==8.1.7
Flask==3.0.3
flask-marshmallow==1.2.1
Flask-Migrate==4.0.7
Flask-RESTful==0.3.10
Flask-SQLAlchemy==3.1.1
gitdb==4.0.11
GitPython==3.1.43
greenlet==3.1.1
itsdangerous==2.2.0
Jinja2==3.1.4
Mako==1.3.5
MarkupSafe==3.0.1
marshmallow==3.23.0
marshmallow-polyfield==5.11
marshmallow-sqlalchemy==1.1.0
olefile==0.47
packaging==24.1
pytz==2024.2
redis==5.1.1
rq==1.16.2
six==1.16.0
smmap==5.0.1
SQLAlchemy==2.0.36
typing_extensions==4.12.2
Werkzeug==3.0.4
